<div>
    <h2 id="page-heading">
        <span>Tricks</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-trick" [routerLink]="['/trick/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Trick
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="tricks?.length === 0">
        <span>No tricks found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="tricks && tricks.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>Name</span></th>
                    <th scope="col" ><span>Current Amount</span></th>
                    <th scope="col" ><span>Target Amount</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let trick of tricks ;trackBy: trackId">
                    <td><a [routerLink]="['/trick', trick.id, 'view']">{{ trick.name }}</a></td>
                    <td>{{ trick.currentAmount }}</td>
                    <td>{{ trick.objectiveAmount }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/trick', trick.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/trick', trick.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(trick)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
