<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-event-heading"> Event</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <input type="hidden" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_active">Active</label>
                    <input type="checkbox" class="form-control auto-width pull-left" name="active" id="field_active"
                    class="pull-left" formControlName="active"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_spot">Spot</label>
                    <select class="form-control" id="field_spot" name="spot" formControlName="spot">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="spotOption.id === editForm.get('spot')!.value?.id ? editForm.get('spot')!.value : spotOption" *ngFor="let spotOption of spots; trackBy: trackById">{{ spotOption.name }}</option>
                    </select>
                </div>

               
                <div class="form-group">
                    <label class="form-control-label" for="field_day">Day</label>
                    <div class="input-group">
                        <input id="field_day" type="text" class="form-control" name="day" ngbDatepicker #dayDp="ngbDatepicker" formControlName="day"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dayDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_dayString">Day in letters like: 22/03/2022</label>
                    <input type="text" class="form-control" name="dayString" id="field_dayString"
                           formControlName="dayString"/>
                </div>

            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
